body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Tables */
table {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
}
th {
  font-weight: bold;
  padding: 0.5em;
  background-color: #fbfbfb;
}
th,
td {
  width: 100px;
  border: 1px solid #ccc;
  text-align: center;
}
input {
  border: none;
  width: 100%;
  text-align: center;
  outline-color: green;
  outline-width: 2px;
}

.highlighted,
.highlighted input {
  background-color: lightgoldenrodyellow;
}

.fade.in.modal {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
